{% extends 'base.html.twig' %}



{% block body %}

<div class="register">

    <img class="register__warzone-logo" src="{{asset('/images/logo.png')}}" alt="warzone">

        <div class="register__form">
            <h2>Regístrate:</h2>
            {{ form_start(registerForm) }}
                {{ form_widget(registerForm) }}
                 <button class="register__button" type="submit">Registrar</button>
                {{ form_end(registerForm) }}
        </div>

</div>
{% endblock %}