{% extends 'base.html.twig' %}


{% block body %}

<div class="home">

    <h1>Encuentra tu squad:</h1>

    {% for post in posts %}
        <div class="home__team">
            <h2>{{post.user.warzoneID}}</h2>
            <h3>{{post.gameMode}}</h3>
            <h4>{{post.publicationDate|date("m/d/Y", "Europe/Paris")}}</h4>
            <p>KD deseado: {{post.minKD}} - {{post.maxKD}}</p>
            <p>Idioma: {{post.language}}</p>
            <p>Puestos libres: {{post.players}}</p>
            <p>Plataforma: {{post.platform}}</p>
            <p>Microfono: {{post.microphone}}</p>
        </div>
    {% endfor %}

    <nav class="home__nav">
        <a class="home__link" href="{{path('home')}}"><img class="home__home" src="{{asset('/images/home.svg')}}"></a>
        <a class="home__link" href="{{path('post')}}"><img class="home__post" src="{{asset('/images/mas.svg')}}"></a>
        <a class="home__link" href="{{path('user')}}"><img class="home__army" src="{{asset('/images/army.svg')}}"></a>
    </nav>

</div>

{% endblock %}