html,body{
    margin: 0;
    padding: 0;
}

.home{
    background-image:url("../images/ghost.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Roboto';
    color: white;

    &__team{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.767);
        color: white;
    }

    &__nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(77, 75, 75);
        position: fixed;
        bottom: 0;
        height: 60px;
        width: 100%;
    }

    &__post{
        width: 50px;
    }

    &__army{
        width: 40px;
    }

    &__home{
        width: 40px;
    }
}

