html,body{
    margin: 0;
    padding: 0;
}



.login{
    background-image:url("../images/warzone-background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';

    &__warzone-logo{
        position: absolute;
        top: 14vh;
        width: 80%;
    }

    &__name{
        margin-top: 8px;
    }

    &__form{
        display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    position: absolute;
    top: 55vh;
    }

    &__title{
        margin: 8px;
    }

    &__label{
        font-weight:700 !important;
    }

    &__input{
        background-color: rgba(255, 255, 255, 0.349)!important;
        border: 2px solid black !important;
        border-radius: 10px !important;
        margin-bottom: 5px !important;
        text-align: center;
        color: white;
    }

    &__button{
        background-color: rgb(255, 255, 255);
        padding: 5px 10px;
        border:2px solid black ;
        border-radius:50px;
        margin-top:5px ;
        margin-bottom: 10px;
        font-weight: 700;

        &:hover{
            background-color: rgb(145, 18, 18);
            border:2px solid white ;
            color:white;
        }
    }

    &__create{
        font-weight: 700;
    }

    &__register{
        font-weight: 400;
        text-decoration: none;
        color: red;
    

        &:hover{
            color:rgb(145, 18, 18)
        }
    }

}