.post{
    background-image:url("../images/register-background.jpg");
    background-repeat: no-repeat;
    background-size: 125%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    

        &__home{
            width: 30px;
            position: absolute;
            top: 2vh;
            left: 15px;
        }

        &__warzone-logo{
            position: absolute;
            top: 2vh;
            left: 30%;
            width: 45%;
        }
    }