html{
    margin: 0;
    padding: 0;
}





.register{
    background-image:url("../images/register-background.jpg");
    background-repeat: no-repeat;
    background-size: 125%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';

    &__warzone-logo{
        position: absolute;
        top: 3vh;
        left: 5%;
        width: 40%;
    }

    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 300px;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.767);
        color: white;
        position: absolute;
        top: 30vh;
    }

    &__button{
        background-color: rgb(255, 255, 255);
        padding: 5px 10px;
        border:2px solid black ;
        border-radius:50px;
        margin-top:5px ;
        margin-bottom: 10px;
        font-weight: 700;

        &:hover{
            background-color: rgb(145, 18, 18);
            border:2px solid white ;
            color:white;
        }
    }
}

//Estilos del formulario que genera twig

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-weight:700;
}

input{
    background-color: rgba(255, 255, 255, 0.349);
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
}

#register_form_img{
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 200px;
}

select{
    background-color: rgba(255, 255, 255, 0.349);
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
}
