{% extends 'base.html.twig' %}



{% block body %}

<div class="post">

<a class="post__link" href="{{path('home')}}"><img class="post__home" src="{{asset('/images/flecha.svg')}}"></a> 

   <img class="post__warzone-logo" src="{{asset('/images/logo.png')}}" alt="warzone">

        <div class="register__form">
            <h2>Busca compañeros:</h2>
            {{ form_start(postForm) }}
                {{ form_widget(postForm) }}
                 <button class="register__button" type="submit">Registrar</button>
                {{ form_end(postForm) }}
        </div>
    <nav class="home__nav">
        <a class="home__link" href="{{path('home')}}"><img class="home__home" src="{{asset('/images/home.svg')}}"></a>
        <a class="home__link" href="{{path('post')}}"><img class="home__post" src="{{asset('/images/mas.svg')}}"></a>
        <a class="home__link" href="{{path('user')}}"><img class="home__army" src="{{asset('/images/army.svg')}}"></a>
    </nav>
</div>
{% endblock %}