{% extends 'base.html.twig' %}


{% block body %}
<div class="login">

    <img class="login__warzone-logo" src="{{asset('/images/logo.png')}}" alt="warzone">


    <form class="login__form" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="login__name mb-3">
                {{ app.user.username }}  <a class="login__register" href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        
            <h1 class="login__title">Acceder:</h1>
            <label class="login__label" for="inputEmail">E-mail</label>
            <input class="login__input" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label class="login__label" for="inputPassword">Contraseña</label>
            <input class="login__input" type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >


                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
        

            <button class="login__button" type="submit">
                Sing in
            </button>
            <p class="login__create">¿No tienes cuenta todavía? <a class="login__register" href="{{path('register')}}">Registrate aquí.</a></p>


    </form>

</div>
{% endblock %}
